<ion-view view-title="Signup">
    <ion-content>
     	<div class="list list-inset">
          <label class="item item-input">
          	  <span class="input-label">Survey Date</span>
              <input type="text"  ng-model="data.currentDate">
          </label>
          <label class="item item-input item-select">
		    <div class="input-label">
		      Survey Type
		    </div>
		    <select ng-model="data.type">
		      <option>Weekly</option>
		      <option >Monthly</option>		      
		    </select>
		  </label>
          <label class="item item-input">
          	  <span class="input-label">survey Answer</span>
              <textarea rows="6" placeholder="" ng-model="data.answer"></textarea>
          </label>
         
      </div>       
      <button class="button button-block button-calm" ng-click="submit()">submit</button>
    </ion-content>
  </ion-view>