<ion-view view-title="Confirm Registration">
    <ion-content class="create-account">
     	<div class="list list-inset">
          <label class="item item-input text-box-align">
              <input type="text" ng-model="data.name" placeholder="Name" ng-readonly="{{true}}">
          </label>
          <label class="item item-input text-box-align">
              <input type="password" ng-model="data.confirmationCode" placeholder="Old Password" >
          </label>          

          <button class="button button-block button-calm create-button-align" ng-click="onConfirm()">
              <i class="icon icon ion-edit create-button-icon-align"></i>
              Confirm
          </button>

      </div>

    </ion-content>
  </ion-view>