<ion-view view-title="Reset Password">
    <ion-content class="create-account">
     	<div class="list list-inset">
          <label class="item item-input text-box-align">
              <input type="text" ng-model="data.name" placeholder="Name" ng-readonly="{{true}}">
          </label>
          <label class="item item-input text-box-align">
              <input type="password" ng-model="data.oldPassword" placeholder="Old Password" >
          </label>
          <label class="item item-input text-box-align">
              <input type="password" ng-model="data.newPassword" placeholder="New Password" >
          </label>

          <button class="button button-block button-calm create-button-align" ng-click="resetPassword()">
              <i class="icon icon ion-edit create-button-icon-align"></i>
              Reset
          </button>

      </div>

    </ion-content>
  </ion-view>