<ion-view view-title="Survey">
    <ion-content class="survey-list">
        <div class="row header">
          <div class="col col-40">Survey Timestamp</div>
          <div class="col col-30">Survey Type</div>
          <div class="col col-30">Survey Answer</div>
        </div>
        <div class="row" ng-repeat="data in surveys">
          <div class="col col-40" ng-class="{'row-last-col-align' : $last}">{{data.survey_creation_date | date : 'short'}}</div>
          <div class="col col-30" ng-class="{'row-last-col-align' : $last}">{{data.survey_type}}</div>
          <div class="col col-30" ng-class="{'row-last-col-align' : $last}">{{data.survey_data}}</div>
        </div>
        <div class="row">
            <button class="button button-block button-calm add-button-align" ng-click="add()">
                <i class="icon icon ion-plus-circled add-icon-align"></i>
                Add</button>
        </div>

    </ion-content>
  </ion-view>