<ion-view view-title="Create account">
    <ion-content class="create-account">
     	<div class="list list-inset">
          <label class="item item-input text-box-align">
              <input type="text" ng-model="data.name" placeholder="Name">
          </label>
          <label class="item item-input text-box-align">
              <input type="text" ng-model="data.email" placeholder="Email ID">
          </label>
          <label class="item item-input text-box-align">
              <input type="text" ng-model="data.phone" placeholder="Phone Number">
          </label>
          <label class="item item-input text-box-align">
              <input type="password" ng-model="data.password" placeholder="Password">
          </label>

          <button class="button button-block button-calm create-button-align" ng-click="onRegister()">
              <i class="icon icon ion-person-add create-button-icon-align"></i>
              Create account
          </button>

      </div>

    </ion-content>
  </ion-view>