.login-styles {

  .input-align {
    margin-bottom: 10px !important;
    border-radius: 15px !important;
    border-width: 3px !important;
  }
  .button-icon-align {
    padding: 0px 10px 0px 0px;
  }
  .button-align {
    border-radius: 15px !important;
  }
}