.survey-list {
  .header .col {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
  }

  .col:last-child {
    border-right: solid 1px grey;
  }

  .row:nth-child(even) .col{
    background-color: #f2f2f2
  }

  .row-last-col-align {
    border-bottom: solid 1px grey !important;
  }

  .add-icon-align {
    position: relative;
    top: 2px;
  }
  .add-button-align {
    border-radius: 15px !important;
    font-size: 1.5rem;
  }
  .col-text-wrap {
    word-wrap: break-word;
    word-break: break-all;
  }
}